
/* Big Tablets to 1200px*/
@media screen and (max-width: 767px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
    list-style: url("https://test.com");
  }
}

/* Small tablets to big tablets : from 0 to 1023px*/
@media only screen and (max-width: 590px) {
  body{ font-size: 15px}
}

/* Small Phones to tablets: 0 to 767px*/
@media only screen and (max-width: 400px) {
  .photo-show li{
    width: 50% ;
  }
}

/* Small Phones to tablets: 0 to 767px*/
@media only screen and (max-width: 670px) {
.col{
  width: 100%;
}
.long-copy{
  margin-bottom: 70px;
}
.section-features i {
  margin-top: 0;
}


}

@media only screen and (max-width: 800px) {
  .modal-content {
    margin: 10% auto;
    width: auto;
    font-size: 90%;
  }
}
@media only screen and (max-width: 430px) {
  .modal-content {
    font-size: 70%;
  }
}
/* Small Phones from 0 to 480px*/
@media only screen and (max-width: 340px) {
  .btn:link,
  .btn:visited {
    margin-top: 10px;
  }
}
